@page "/"
@inject AuthenticationStateProvider authenticationStateProvider
@inject Codes.HashingHandler _hashingHandler
@inject NavigationManager _navigationManager
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthenticatedUser")]


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



@code {
    private bool _isAuthenticated;


    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _isAuthenticated = user.Identity?.IsAuthenticated ?? false;

    }

    protected override async Task OnAfterRenderAsync(bool boolean)
    {
        await base.OnAfterRenderAsync(boolean);
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
            _navigationManager.NavigateTo("/CprNr");
    }
}
